/* ToDo App全体のスタイル */
.todoApp {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
	margin: auto;
}

.title {
	font-size: 24px;
	text-align: center;
	color: #333;
}

.button {
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.signOutContainer {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.button.signOut {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	text-align: center;
}

.button.signOut:hover {
	background-color: #0056b3;
}

/* タスク追加フォーム */
.todoInput {
	display: flex;
	margin-bottom: 20px;
}

.todoInput input {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 10px;
}

.todoInput .addButton {
	background-color: #4caf50;
	color: white;
}

.todoInput .addButton:hover {
	background-color: #45a049;
}

/* ToDoリスト */
.todoList {
	list-style: none;
	padding: 0;
}

.todoItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 10px;
	background-color: #fff;
}

.todoItem.completed span {
	text-decoration: line-through;
	color: #999;
}

.todoItem .deleteButton {
	background-color: #f44336;
	color: white;
}

.todoItem .deleteButton:hover {
	background-color: #e53935;
}
